
@{
    ViewBag.Title = "Index";
}

<h2>Areas</h2>

<h3>School Model</h3>
<p>Entity framework, code first migrations, fluid api</p>
<ul>
    <li>@Html.ActionLink("Home", "Index", "Home", new {area = "EntitySchool"}, null)</li>
</ul>
